@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #efefef;
	--foreground: #0a081f;
	--font-roboto: "Roboto", sans-serif;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-roboto);
}

html.dark {
	--background: #0a081f;
	--foreground: #d5d5db;
}

input {
	background: var(--background);
	color: var(--foreground);
}

.icon-delete {
	fill: red;
	color: red;
}
