@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #efefef;
	--foreground: #383838;
	--font-monomaniac-one: "Monomaniac One", sans-serif;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-monomaniac-one);
}

html.dark {
	--background: #080427;
	--foreground: #d5d5db;
}

input {
	background: var(--background);
	color: var(--foreground);
}

body {
	color: var(--foreground);
	background: var(--background);
}
.icon-delete {
	fill: red;
	color: red;
}
